<div class="container">
  <mat-form-field>
    <mat-label>Level</mat-label>
    <mat-select [(ngModel)]="level">
      <mat-option *ngFor="let l of levels" [value]="l">
        {{l}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <span> Base AD: {{getBaseAd()}}</span>

<!--  <mat-form-field>-->
<!--    <input matInput placeholder="Level" [(ngModel)]="level">-->
<!--  </mat-form-field>-->
  <div>
    Infernal drakes:
    <mat-radio-group [(ngModel)]="infernal">
      <mat-radio-button class="example-radio-button"  [value]="0">
        None
      </mat-radio-button>
      <mat-radio-button class="example-radio-button"  [value]="1">
        1
      </mat-radio-button>
      <mat-radio-button class="example-radio-button"  [value]="2">
        2
      </mat-radio-button>
      <mat-radio-button class="example-radio-button"  [value]="3">
        3
      </mat-radio-button>

    </mat-radio-group>
  </div>

  <div style="margin: 4px 0">
    Excellence:
    <mat-radio-group [(ngModel)]="infernal">
      <mat-radio-button class="example-radio-button"  [value]="null">
        None
      </mat-radio-button>
      <mat-radio-button class="example-radio-button"  value="Transcendence">
        Transcendence
      </mat-radio-button>
      <mat-radio-button class="example-radio-button"  value="Absolute Focus">
        Absolute Focus
      </mat-radio-button>

    </mat-radio-group>
  </div>
  <div style="margin: 4px 0">
    Gathering Storm: <mat-slide-toggle [(ngModel)]="gatheringStorm" style="margin-left: 5px"></mat-slide-toggle>
    <mat-form-field *ngIf="gatheringStorm">
      <mat-label>Gathering Value</mat-label>
      <mat-select [(ngModel)]="gatheringValue">
        <mat-option *ngFor="let l of gatheringValues" [value]="l">
          {{l}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div style="margin: 4px 0">
    Legends Alacrity: <mat-checkbox [(ngModel)]="alacrity"></mat-checkbox>
  </div>
  <div style="margin: 4px 0">
    Eyeball collection: <mat-checkbox [(ngModel)]="eyeball"></mat-checkbox>
  </div>

  <button mat-button (click)="find()">Find</button>

</div>
