<div class="container">
  <mat-form-field>
    <mat-label>Level</mat-label>
    <mat-select [(ngModel)]="level">
      <mat-option *ngFor="let l of levels" [value]="l">
        {{l}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <span> Base AD: {{getBaseAd()}} -- Bonus AS: {{getBonusAS()}}%</span>

<!--  <mat-form-field>-->
<!--    <input matInput placeholder="Level" [(ngModel)]="level">-->
<!--  </mat-form-field>-->
  <div>
    Infernal drakes:
    <mat-radio-group [(ngModel)]="infernal">
      <mat-radio-button class="example-radio-button"  [value]="0">
        None
      </mat-radio-button>
      <mat-radio-button class="example-radio-button"  [value]="1">
        1
      </mat-radio-button>
      <mat-radio-button class="example-radio-button"  [value]="2">
        2
      </mat-radio-button>
      <mat-radio-button class="example-radio-button"  [value]="3">
        3
      </mat-radio-button>

    </mat-radio-group>
  </div>

  <div style="margin: 4px 0">
    Excellence:
    <mat-radio-group [(ngModel)]="excellence">
      <mat-radio-button class="example-radio-button"  [value]="null">
        None
      </mat-radio-button>
      <mat-radio-button class="example-radio-button"  value="Transcendence">
        <img src="/assets/img/Transcendence_rune.png"  class="icon"/>
        Transcendence
      </mat-radio-button>
      <mat-radio-button class="example-radio-button"  value="Absolute Focus">
        <img src="/assets/img/Absolute_Focus_rune.png" class="icon"/>
        Absolute Focus
      </mat-radio-button>

    </mat-radio-group>
  </div>
  <div style="margin: 4px 0">
    <img src="/assets/img/Gathering_Storm_rune.png" class="icon"/>
    Gathering Storm: <mat-slide-toggle [(ngModel)]="gatheringStorm" style="margin-left: 5px"></mat-slide-toggle>
    <mat-form-field *ngIf="gatheringStorm">
      <mat-label>Gathering Value</mat-label>
      <mat-select [(ngModel)]="gatheringValue">
        <mat-option *ngFor="let l of gatheringValues" [value]="l">
          {{l}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div style="margin: 4px 0">
    <img src="/assets/img/Lethal_Tempo_rune.png" class="icon"/>
    Lethal Tempo: <mat-checkbox [(ngModel)]="lethalTempo"></mat-checkbox>

    <img src="/assets/img/Legend-_Alacrity_rune.png" class="icon" style="margin-left: 10px"/>
    Legends Alacrity: <mat-checkbox [(ngModel)]="alacrity"></mat-checkbox>
  </div>
  <div style="margin: 4px 0">
    <img src="/assets/img/Hail_of_Blades_rune.png" class="icon"/>
    Hail of Blades: <mat-checkbox [(ngModel)]="hailOfBlades"></mat-checkbox>

    <img src="/assets/img/Eyeball_Collection_rune.png" class="icon" style="margin-left: 10px"/>
    Eyeball collection: <mat-checkbox [(ngModel)]="eyeball"></mat-checkbox>
  </div>
  <div>
    Rune Offense:
    <mat-radio-group [(ngModel)]="runeOffense">
      <mat-radio-button class="example-radio-button"  value="ad">
        6+ AD
      </mat-radio-button>
      <mat-radio-button class="example-radio-button"  value="as">
        10% Attack speed
      </mat-radio-button>
      <mat-radio-button class="example-radio-button"  value="cdr">
        +10% scaling cdr
      </mat-radio-button>
    </mat-radio-group>
    <br/>
    Rune Flex
    <mat-radio-group [(ngModel)]="runeFlex">
      <mat-radio-button class="example-radio-button"  value="ad">
        6+ AD
      </mat-radio-button>
      <mat-radio-button class="example-radio-button"  value="def">
        defensive
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <button mat-raised-button (click)="find()">Find</button>

  <div class="list">
    <div class="item" *ngFor="let row of list; let i = index">
      <span class="index">{{i+1}}</span>
      <img *ngFor="let item of row.items" [src]="item.img"/>
      <span>AD: {{row.ad.toFixed(2)}}</span>
    </div>
  </div>
</div>
